<html lang="fr" ng-app="appWeather">
<head>
	<meta charset="utf-8">
	<title>KronoWeather</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
    <script src="js/services.js"></script>
	<script src="js/weatherAppCtrl.js"></script>
	<script src="lib/angular/angular-resource.min.js"></script>
</head>
<body ng-controller="WeatherAppCtrl">
	<div>
	<div ng-hide="isVisible">
		{{ greeting }}
	</div>
	<input ng-model="citySelect" type="text">
	<button ng-click="chooseCity()">Ok</button>
	<h2>{{ resultat }}</h2>
	<ul>
	<li ng-repeat="wStation in wS">{{wStation.city}}{{wStation.neighborhood && '/'+wStation.neighborhood}} ({{wStation.distance}}km)</li>
	</ul>
	</div>
	<!-- <button ng-click="updateConditions()">Ok</button>
	<div ng-show="isVisible">
		<h2>{{ conditions.location }}</h2>
		<p>
			<img ng-src="{{ conditions.weatherIcon }}" alt="{{ conditions.weather }}" title="{{ conditions.weather }}"><br>
			Current temp : {{ conditions.temperature }}°C
			<br/>
			Humidity : {{ conditions.humidity }}
			<br/>
			Forecast : 
			<ul>
				<li ng-repeat="day in conditions.foreCastText">{{day.title}} : {{day.fcttext_metric}}</li>
			</ul>
		</p>
		<time>Last Update: {{ conditions.fetchDate }}</time>
	</div>
	<div ng-hide="isVisible">
		{{ greeting }}
	</div>-->



</body>
</html>